<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Edit Book Details</title>
   </head>
   <body>
      <%- include ("./navbar") %>

      <h1 id="bookupdate-title">Update Book Details</h1>
      <form method="post" name="bookadd-form" action="/bookupdate">
         <div class="bookupdate-container">
            <div class="inputBox">
               <input type="text" name="bookname" id="bookname" value="<%=book.bookname%>" />
               <span>Book Name</span>
            </div>
            <div class="inputBox">
               <input type="number" name="quantity" id="quantity" value="<%=book.quantity%>" />
               <span>Quantity</span>
            </div>
            <div class="inputBox">
               <input type="description" name="description" value="<%=book.description%>" />
               <span>Description</span>
            </div>
            <input type="hidden" name="id" value="<%=book._id%>" />
            <div class="inputBox">
               <button type="submit" name="sbt-btn">Update Book</button>
            </div>
         </div>
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </body>
</html>
