<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Edit Profile</title>
   </head>
   <body>
      <%- include ("./navbar") %>

      <h1 id="userprofile-title">Profile</h1>
      <form method="post" name="profile-form" action="/savechanges">
         <div class="userprofile-container">
            <div class="inputBox">
               <input type="text" class="form-control" name="firstname" id="firstname" value="<%=user.firstname%>" />
               <span>First Name</span>
            </div>
            <div class="inputBox">
               <input type="text" class="form-control" name="lastname" id="lastname" value="<%=user.lastname%>" />
               <span>Last Name</span>
            </div>
            <div class="inputBox">
               <input type="email" class="form-control" name="email" id="email" value="<%=user.email%>" />
               <span>Email</span>
            </div>
            <div class="inputBox">
               <input type="address" class="form-control" name="address" id="address" value="<%=user.address%>" />
               <span>Address</span>
            </div>
            <div class="inputBox">
               <button type="submit" name="sbt-btn">Update Profile</button>
            </div>
         </div>
      </form>
   </body>
</html>
